
body {
    background: url(../images/jungle.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    background-attachment: fixed;
    background-position: center;
    margin:0;
    padding:0;
}

.jumbotron {
    background: url(../images/lostCloseUp.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    background-attachment: fixed;
    background-position: center; 
    background-color: #C5C9B8;
    margin:20vh auto;
    width:75vw;
    color: #333333;
    height: 33vw;
    padding: 100px;
    align-items: center;
    justify-content: space-around;
    display: flex;
    float: none;
    /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
}

.btn {
    opacity:0.8;
    color: white;
    background:black;
    margin-left:40px;   
    animation: colorChange infinite 3s;
    -webkit-animation: colorchange infinite ease-in-out 4s;
}

@keyframes colorchange
    {
      0%   {background: #234;}
      25%  {background: #757B87;}
      50%  {background: #00c0e4;}
      75%  {background: #0174c0}
      100% {background: #234;}
    } 
@-webkit-keyframes colorchange /* Safari and Chrome - necessary duplicate */
    {
      0%   {background: #234;}
      25%  {background: #757B87;}
      50%  {background: #00c0e4;}
      75%  {background: #0174c0}
      100% {background: #234;}
    }

#_directionText {
    font-size: 8vw;
    background: rgba(0, 0, 0, 0.7);
    color:white;
    padding:7px;
    font-family: 'IM Fell DW Pica SC', serif;
}

#container {
    height:96vh;
    width: 78vw;
    background-color:rgb(163, 163, 168, 0.4);
    margin-left:5vw;
    margin-top:15vh;;
    justify-content: center; 
}

#_questionText {
    background:#757B87;
    font-size:2.2rem;
    color:white;
    font-family: 'Aldrich', sans-serif;
    margin-top:1%;
    margin-left: auto;
    margin-right: auto;
    margin-top: -12.5vh;   
}

#_currentQuestion {
    background:#234;
    margin: 0 auto;
    color:white;
    margin-bottom:7vh;
    font-family: 'Aldrich', sans-serif;
    font-size:1.3em;   
}

._answerList {
    font-family:Arial, Helvetica, sans-serif;
    font-size: 2.2vw;
    display: flex;
    justify-content: space-between;
    cursor: -webkit-grab; cursor: grab;  
}

.thisChoice {
    color:white;
    background:#234;
    display: flex;
    flex-direction: row;
    border-radius:10%;
    padding:3.5% 3.5%;
    margin-right:2%;
    margin-left:1.5%;   
}

.thisChoice:hover {
    color: #757B87;
}

#_message {
    background: #234;
    font-size:18px;
    color:white;
    width: 40%;
    text-align:center;
    margin-top:10vh; 
    margin:0 auto;
    padding:2vh;
    font-family: 'Aldrich', sans-serif;
    border-radius:1%;
}

#_correctedAnswer {
    background: red;
    font-size:2vw;
    font-weight:bold;
    color:black;
    width: 13vw;
    text-align:center;
    margin-right: 20vw;
    margin-left: 80vw;
    margin-top:-20vh;
    padding:10px;
    padding-bottom:30px;
    font-family: 'Orbitron', sans-serif;
    border-radius:10%;   
}

#_correctCorrect {
    background: green;
    font-size:2vw;
    font-weight:bold;
    color:black;
    width: 13vw;
    text-align:center;
    margin-right: 20vw;
    margin-left: 80vw;
    margin-top:-20vh;
    padding:10px;
    padding-bottom:30px;
    font-family: 'Orbitron', sans-serif;
    border-radius:10%; 
}

#timer {
    margin-top:0;
    position:absolute;
    font-size: 6vw;
    margin-left:80vw;
    background-color:rgb(163, 163, 168, 0.5);
    color: white;
    font-family: 'Orbitron', sans-serif;
    border-radius:5%;
    padding:10px;
    width: 13vw;
    border-radius:10%;
    animation-duration: 1s;
}

#blankImage {
    margin: 15vh auto;
    display: flex; 
    max-height: 40vh;
    max-width: 30vw;
}

#_finalMessage {
    background: grey;
    font-size:1.8em;
    color:white;
    text-align:center;
    width:39vw;
    margin: -8vh auto 15vh;
    border-radius:5%;
}

#displayBox {
    display:flex;   
}

#displayBox > div {
    background-color: #234;
    text-align: center;
    margin-left:3vw;
    margin-right: 3vw; 
    padding:1.5vw;
    margin-top:25vh;
    border-radius:5%;
    font-size:2vw;
    color:white;
}    

#_startOverBtn {
    background-color:rgb(163, 163, 168, 0.5);
    font-size:3vw;
    color: white;
    font-family: 'Orbitron', sans-serif;
    width: 13vw;
    padding:10px;
    text-align:center;
    margin-top:-28vh;
    margin-left: 80vw;
    margin-right: 10vw;
    display: none;
    border-radius: 10%;
    font-weight:bold;  
    
}



#_startOverBtn:hover{
    color:black;
    background: #234;
    border-radius:15%;
    cursor: -webkit-grab; cursor: grab;
}

.pulse.yeah {
    animation-duration: 5s;
}

.swing {
    animation-iteration-count: 3;
}

.flipOutY{
    animation-iteration-count: 1;
}






    
